/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

/*
  --- above is my css reset ---
*/

header {
  background-color: #1F2937;

}

.nav {
  padding: 0 200px 0 200px;
  overflow: hidden;
}

.nav a {
  float: left;
  text-decoration: none;
  text-align: center;

  padding-top: 20px;
  padding-bottom: 20px; 
 
}

.head-text {
  font-size: 24px;
  color: #f9faf8;
}

.nav-right {
  float: right;

}

.nav-right a{
  color: #e5e7eb;
  font-size: 18px;

  display: flex;
  justify-content: space-evenly;
  
}

.one {
  padding: 0 200px 0 200px;
  background-color: #1F2937;
  display: flex;
  flex-direction: row;
  height: 400px;
}

.hero {
  flex: 1;
  position: relative;
  height: 200px;
  margin-top: 100px;
}

.text-container button {
  background-color: #3882F6;
  padding: 5px 32px;
  border-radius: 7px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: bolder;
  color: #f9faf8;
  border: none;
  text-decoration: none;
}

.text-container h1{
  font-size: 48px;
  font-weight: bolder;

  color: #f9faf8;
}

.text-container p {
  font-size: 18px;
  color: #e5e7eb;
  padding-right: 20px;
}

.img-container {
  background-color: rgb(73, 73, 73);
}

.img-container p {
  color: #e5e7eb;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.two {
  text-align: center;
}
.info {
  padding: 50px 0 50px;
  font-size: 36px;
  font-weight: bolder;
  color:#1F2937;
}

.illu-wrapper {

  height: 350px;
  padding: 0 200px 0 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.container {
  border: #3882F6 solid 3px;
  border-radius: 12px;
  height: 175px;
  width: 150px;
}

.sub-text {
  width: 150px;
}

.three {
  height: 400px;
  padding: 100px 375px 0 375px;
  background-color: #e5e7eb;

  color: #1F2937;
}

.three h1 {
  font-size: 36px;
  
}
.three h3 {
  float: right;
  font-size: 24px;
}

.four {
  height: 400px;
  padding: 100px 200px 0 200px;
}

.fourth-wrapper {
  border-radius: 10px;
  height: 200px;
  background-color: #3882F6;
  padding: 50px 150px 50px 150px;
  display: flex;
  justify-content: center;
  
}

.txt {
  color: #f9faf8;
  flex: 3;
  
}

.txt h2 {
  font-size: 36px;
}

.txt p {
  font-size: 24px;
}

.btn {
  flex: 1;
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px 45px;
  background-color: #3882F6;
  color: #f9faf8;
  border-radius: 10px;
  
  border: #e5e7eb solid 2px;
}

footer {
  padding-top: 33px;
  color: #f9faf8;
  height: 100px;
  text-align: center;
  background-color: #1F2937;
}